<dialog class="graph-info" id="exactGraphInfo">
  <form class="container-for-graph-info">
    <div class="img-container">
      <canvas id="canvasForGraph"  width = "680px" height = "680px" class = "canvas"></canvas>
    </div>
    <div class="text-container">
      <h2>Graph in text form</h2>
      <textarea class = "textView" id = "textGraph" readonly> </textarea>
      <h2>MST (Prim)</h2>
      <textarea class = "textView" id = "MSTPrim" readonly> </textarea>
      <h2>MST (Kruskal)</h2>
      <textarea class = "textView" id = "MSTCruscal" readonly> </textarea>
    </div>
    <button type="submit" class="btn-close" onclick='closeForm("intervalGraphInfo")'></button>
  </form>
</dialog>