<!DOCTYPE html>
<html>
<head>
  <title>GraphApp</title>
  <link rel="stylesheet" type="text/css" href="<@spring.url '/css/styles.css'/>"/>
  <link rel="stylesheet" type="text/css" href="<@spring.url '/css/stylesForm.css'/>"/>
  <link rel="stylesheet" type="text/css" href="<@spring.url '/css/stylesMenu.css'/>"/>
  <link rel="stylesheet" type="text/css" href="<@spring.url '/css/stylesDropdownMenuTypeOfGraph.css'/>"/>
  <link rel="stylesheet" type="text/css" href="<@spring.url '/css/graphInfoStyles.css'/>"/>
</head>
<body>
